.todoUndone {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
}

.todoDone {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: line-through;
}

.removeBtn {
  width: 25px;
  height: 25px;
  background-color: crimson;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  font-size: 8px;
}

.todoUndone > input,
.todoDone > input {
  margin-right: 20px;
}
