.container {
  margin: auto;
  max-width: 600px;
}

.todoBlock {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgba(46, 46, 46, 0.16);
}

.btnStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todoUndone {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
}

.todoDone {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: line-through;
}

.todoUndone > input,
.todoDone > input {
  margin-right: 20px;
}

.inputField {
  display: flex;
  margin-top: 20px;
}
